@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  background-image: url(images/background.svg)
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  color: #333333;
  text-shadow: 0 2px 8px #00000045;
}

p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  color: #333333;
  text-shadow: 0 2px 8px #00000045;
}

button {
  background-color: #2c98e6;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  padding: 8px 32px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  text-shadow: 0 2px 8px #00000045;
  box-shadow: 0 2px 8px #00000045;
}

button:hover {
 background-color: #2c70e6;
 box-shadow: 0 2px 8px #00000085;
}

input {
  font-family: Poppins;
  font-size: 18px;
  color: #333333;
  padding: 12px 20px;
  border: none;
  border-radius: 32px;
  text-shadow: 0 2px 8px #00000045;
  box-shadow: 0 0 6px #00000033;
  outline: none;
}
